@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Opinion Pro";
  src: url("./font/Opinion_Pro_Condensed_Light.otf") format("opentype");
}

* {
  font-family: "Opinion Pro", serif;
}
